* {
    color: white;
}

h1 {
    font-size: 3rem;
}
h2 {
    font-size: 1.5rem;
}

hr {
    border-color: rgb(34, 34, 34);
    background-color: rgb(34, 34, 34);
    height: .5rem;
}

.flex {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}