<hr>

<div class="container">
    <h1>Perguntas frequentes</h1>
</div>

<div class="container">
    
    <div>
        <ul>
            <li>
                <h3>O que é a Netflix?</h3>
                <i class="bi bi-plus-lg"></i>
            </li>
            <li>
                <h3>Quanto custa a Netflix?</h3>
                <i class="bi bi-plus-lg"></i>
            </li>
            <li>
                <h3>O que muda no plano Básico com anúncios?</h3>
                <i class="bi bi-plus-lg"></i>
            </li>
            <li>
                <h3> Onde posso assistir?</h3>
                <i class="bi bi-plus-lg"></i>
            </li>
            <li>
                <h3>Como faço para cancelar?</h3>
                <i class="bi bi-plus-lg"></i>
            </li>
            <li>
                <h3>O que eu posso assistir na Netflix?</h3>
                <i class="bi bi-plus-lg"></i>
            </li>
            <li>
                <h3> A Netflix é adequada para crianças?</h3>
                <i class="bi bi-plus-lg"></i>
            </li>
        </ul>


        <h2>Pronto para assistir? Informe seu email para criar ou reiniciar sua assinatura.</h2>

        <div class="buscar"><input type="text" placeholder="Email"> <button class="vamosla">
            Vamos lá
            <i class="bi bi-chevron-compact-right"></i>
         </button></div>
    </div>
</div>

<hr>